---
swagger: "2.0"
info:
  description: "Hello!!!"
  version: "1.0.0"
  title: "ITU Data"
  contact:
    email: "alpha@bravo.charlie"
host: "api.itu.dk"
basePath: "/v2"
tags:
- name: "course"
  description: "Everything about courses"
schemes:
- "http"
paths:
  /course:
    post:
      tags:
      - "course"
      description: "Create a new course"
      parameters:
      - in: "body"
        name: "newCourse"
        description: "The new course"
        required: true
        schema:
          type: "object"
          properties:
            name:
              type: "string"
            expectedWorkload:
              type: "integer"
              description: "Expected workload in hours per week"
        x-exportParamName: "NewCourse"
      responses:
        "200":
          description: "The new course"
          schema:
            $ref: "#/definitions/Course"
  /course/{courseId}:
    get:
      tags:
      - "course"
      parameters:
      - name: "courseId"
        in: "path"
        description: "The ID of the course"
        required: true
        type: "integer"
        x-exportParamName: "CourseId"
      responses:
        "200":
          description: "Get information about the given course"
          schema:
            $ref: "#/definitions/Course"
        "404":
          description: "Course does not exist"
    put:
      tags:
      - "course"
      parameters:
      - name: "courseId"
        in: "path"
        description: "The ID of the course"
        required: true
        type: "integer"
        x-exportParamName: "CourseId"
      - in: "body"
        name: "updatedFields"
        description: "The fields to update. You only need to add the fields that need\
          \ updating."
        required: true
        schema:
          type: "object"
          properties:
            name:
              type: "string"
            expectedWorkload:
              type: "number"
        x-exportParamName: "UpdatedFields"
      responses:
        "200":
          description: "The deleted course"
          schema:
            $ref: "#/definitions/Course"
        "406":
          description: "Request value was not valid"
    delete:
      tags:
      - "course"
      parameters:
      - name: "courseId"
        in: "path"
        description: "The ID of the course"
        required: true
        type: "integer"
        x-exportParamName: "CourseId"
      responses:
        "200":
          description: "The deleted course"
          schema:
            $ref: "#/definitions/Course"
        "404":
          description: "Course does not exist"
definitions:
  Course:
    type: "object"
    required:
    - "id"
    properties:
      id:
        type: "integer"
      name:
        type: "string"
      expectedWorkload:
        type: "integer"
        description: "Expected amount of hours per week to work"
      rating:
        type: "number"
        description: "Decimal number from 1-5"
    example:
      name: "name"
      rating: 1.46581298050294517310021547018550336360931396484375
      id: 0
      expectedWorkload: 6
